<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootstartertest.mapper.SecurityMapper">
    <resultMap id="BaseResultMap" type="com.reststyle.security.model.SecurityUser">
        <!--@mbg.generated-->
        <!--@Table sys_user-->
        <id column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="is_enabled" jdbcType="BOOLEAN" property="isEnabled"/>
        <result column="is_credentials_non_expired" jdbcType="BOOLEAN" property="isCredentialsNonExpired"/>
        <result column="is_account_non_locked" jdbcType="BOOLEAN" property="isAccountNonLocked"/>
        <result column="is_account_non_expired" jdbcType="BOOLEAN" property="isAccountNonExpired"/>
        <result column="revision" jdbcType="BOOLEAN" property="revision"/>
    </resultMap>
    <resultMap id="SecurityRoleResult" type="com.reststyle.security.model.SecurityRole">
        <id property="roleId" column="role_id"/>
        <result property="roleName" column="role_name"/>
        <result property="roleKey" column="role_key"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        user_id, username, `password`, nick_name, user_type, email, phone_number, sex, avatar,
        is_enabled, is_credentials_non_expired, is_account_non_locked, is_account_non_expired,
        create_by, create_time, update_by, update_time, del_flag,
        remark
    </sql>
    <select id="selectSecurityUserByUserName" resultMap="BaseResultMap">
        select user_id,
        username,
        `password`,
        nick_name,
        avatar,
        is_enabled,
        is_credentials_non_expired,
        is_account_non_locked,
        is_account_non_expired,
        revision
        from sys_user
        where username = #{username}
        and del_flag = '0' limit 1
    </select>
    <select id="selectSecurityRoleByUserId" resultMap="SecurityRoleResult">
        select r.role_id, r.role_name, r.role_key
        from sys_user_role ur
        left join sys_role r on r.role_id = ur.role_id
        where ur.user_id = #{userId}
        and r.state = '0'
        and r.del_flag = '0'
    </select>

    <select id="selectMenuPermsByRoleIds" resultType="java.lang.String">
        select distinct m.perms
        from sys_menu m,
        sys_role_menu srm
        where srm.menu_id = m.menu_id
        and m.state = '0'
        and srm.role_id in
        <foreach item="roleId" index="index" collection="roleIds" open="(" separator="," close=")">
            #{roleId}
        </foreach>
        and m.perms is not null
        and m.perms != ''
    </select>
    <select id="selectAllMenu" resultType="java.lang.String">
        select distinct m.perms
        from sys_menu m
        where m.state = '0'
          and m.perms is not null
          and m.perms != ''
    </select>
</mapper>